/* Lato Font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Ondo Font local import */
@font-face {
  font-family: 'Ondo';
  src: local('OndoBoldRegular'), url('./assets/fonts/Ondo/FONTSPRINGDEMO-OndoBoldRegular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2d1e6b;
  --gradient-color: linear-gradient(90deg, #6542f4 11.84%, #f976ff 51.56%, #b50098 86.46%);
}

@layer base {
  body {
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    font-size: 18.72px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    background-color: var(--primary-color);
  }
}

@layer components {
  .btn {
    @apply uppercase font-extrabold leading-[22.12px] py-3 px-7 lg:py-5 lg:px-16 skew-x-[-20deg] hover:bg-gradient-to-r hover:to-slate-700 hover:from-gray-950;
  }

  .btn-fill {
    @apply gradient-bg;
  }
  .btn-outline {
    @apply border gradient-border hover:bg-red-500;
  }

  .btn-text {
    @apply inline-block skew-x-[20deg] text-[16px] lg:text-[20px] font-extrabold text-nowrap;
  }

  .grainy-bg {
    content: '';
    background-color: var(--primary-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 182px;
    opacity: 0.3;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .hero-bg-sm,
  .hero-bg-lg {
    background-image: url('/asset-images/home-hero.png');
    mix-blend-mode: color-dodge;
    background-repeat: no-repeat;
  }

  @media (min-width: 1024px) {
    .hero-bg-lg {
      background-position: center;
      background-size: cover;
    }
  }

  @media (max-width: 600px) {
    .hero-bg-sm {
      background-position: right bottom;
      background-size: 200%;
    }
  }
}

@layer utilities {
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    font-family: 'Ondo', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
  }

  .h1 {
    @apply lg:text-[68.94px] text-[40.29px] lg:leading-[76.24px] leading-[44.56px];
  }

  .h2 {
    @apply text-[21px] lg:text-[30px] leading-[23.54px] lg:leading-[33.18px];
    font-weight: 800;
  }

  .h3 {
    font-size: 28.06px;
    line-height: 31.03px;
    font-weight: 800;
  }

  .gradient-border {
    border-image-slice: 1;
    border-image-source: var(--gradient-color);
  }
  .gradient-white-border {
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #ffffff, #ffffff00);
  }
  .gradient-bg {
    background-image: var(--gradient-color);
  }
  .gradient-text {
    @apply gradient-bg bg-clip-text text-transparent;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 26.54px;
    letter-spacing: 0.035em;
  }

  .card-shadow {
    box-shadow: 0px 4px 20px -1px #00000000;
  }

  @keyframes slideLoopSkewed {
    0% {
      transform: translateX(0) skew(0deg, -2deg);
    }
    100% {
      transform: translateX(-50%) skew(0deg, -2deg);
    }
  }

  @keyframes slideLoop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .sliding-container {
    width: 100%;
    overflow: hidden;
  }

  .sliding-skewed-element {
    animation: slideLoopSkewed 30s linear infinite;
    width: 200%;
  }
  .sliding-element {
    animation: slideLoop 30s linear infinite;
    width: 200%;
  }

  @media (prefers-reduced-motion: reduce) {
    .sliding-element {
      animation: none;
    }
  }
}
